body{
    font-family: 'Oswald', sans-serif,;
}

.card {
    width: 350px;
    background-color: #EAE9E8;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 450px;
    
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.shop-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.rating {
    color: #ff9800;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.location {
    font-size: 1em;
    color: #555;
}

.icon{
    height: 20px;
    color: black;
    padding-right: 5px;
}
.align{
    text-align: center;
    color: hsl(0, 0%, 14%);
    font-size: var(--fs-30);
    font-style: uppercase;
}

.flex-card{
     display: flex;
     justify-content: center;
     
}

.button {
    background-color: var(--indian-yellow);
    color: #fff;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
    
    align-self: center;
}